<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dashboard</title>

</head>
<body>

  <p> I am a mighty dashboard</p>

  <br>

  <img src="/static/images/bietia-full.png">
  <!-- custom js -->

</body>
</html>
